/* 
* Box sizing rules 
*
* Ensure that border widths are what you get, not added to content box
*
* */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: proxima-soft;
  font-size: 100%;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}


.item-card {
  border-radius: 16px;
  border: 1px solid Gray;
  background-color: white;
  padding: 20px;
  margin: 16px;
  width: 480px;
  height: min-content;
  min-height: 80px;
  align-content: center;
  text-align: center;
  font-size: 24px;
  font-weight: lighter;
  overflow-wrap: break-word;
}

.empty-message {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #353535;
}

.add-item-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.add-item-form input {
  background-color: white;
  margin: 5px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 16px;
  width: 420px;
  height: 50px;
}

.item-card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-card-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.user-actions {
  display: flex; 
  align-items: center;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  gap: 10px;
}

.user-actions * {
  margin: 0px;
}

.user-actions button {
  height: 80px;
  width: 80px;
  border-radius: 16px;
  border: 1px solid grey;
  background-color: white;
}

.user-actions button:hover {
  background-color: #dee2e6;
}

/**
--seasalt: #f8f9faff;
--antiflash-white: #e9ecefff;
--platinum: #dee2e6ff;
--french-gray: #ced4daff;
--french-gray-2: #adb5bdff;
--slate-gray: #6c757dff;
--outer-space: #495057ff;
--onyx: #343a40ff;
--eerie-black: #212529ff;
*/
