<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="icon" href="icon.png" type="image/png" />
    <title>To Do</title>
  </head>

  <body>

    <form th:action="@{/insert}" method="post" class="add-item-form">
      <input type="text" name="pName" required placeholder="Enter new task..."></input> 
      <button type="submit">Add</button>
    </form>

    <p class="empty-message" th:if="${#lists.isEmpty(toDoListItems)}">Everything's done. Yay! ✨</p>

    <div th:each="item: ${toDoListItems}" class="item-card-list">

      <div class="item-card-row">
        <h3 th:text="${item.name + (item.completed ? ' ✅' : ' ❌')}" class="item-card">Task Name</h3>

        <form th:action="@{/delete}" method="post" class="user-actions">
          <input type="hidden" name="pId" th:value="${item.id}"></input>
          <button type="submit">   </button>
        </form>

      </div>

    </div>

  </body>
</html>


